<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="all"
      href="../static/css/style.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" media="all"
      href="../static/css/style.css" th:href="@{/css/bootstrap.min.css}" />
<link type="text/css" href="webjars/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>Title</title>
</head>
<body onload="all()">
<main class="container-fluid row text-center d-flex justify-content-center" id="root"></main>
</body>
<script th:inline="javascript" th:src="@{/js/js.js}" src="../static/js/js.js"></script>
<script th:inline="javascript" th:src="@{/js/admin.js}" src="../static/js/admin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>